.iphone-14-2 {
  align-items: flex-end;
  background-color: var(--gun-powder);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  position: relative;
  width: 390px;
}

.ellipse-15 {
  align-self: flex-start;
  cursor: pointer;
  height: 36px;
  margin-left: 16px;
  margin-top: 3px;
  width: 48px;
}

.overlap-group3 {
  height: 529px;
  margin-right: -121px;
  margin-top: 3px;
  position: relative;
  width: 495px;
}

.x1 {
  height: 162px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 153px;
}

.rectangle-2 {
  background-color: #d9d9d9;
  border-radius: 35px;
  height: 52px;
  left: 70px;
  position: absolute;
  top: 211px;
  width: 213px;
}

.view {
  display: flex;
  height: 258px;
  left: 0;
  position: absolute;
  top: 271px;
  width: 334px;
}

.undraw_digital_currency_qpak-1 {
  align-items: flex-end;
  display: flex;
  height: 258.45px;
  position: relative;
  width: 334px;
}

.flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-bottom: 0.84px;
  margin-left: 12px;
  min-height: 87px;
  width: 31px;
}

.vector {
  height: 15px;
  margin-right: 7.63px;
  width: 13px;
}

.vector-container {
  height: 49px;
  position: relative;
  width: 31px;
}

.vector-1 {
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 31px;
}

.vector-2 {
  height: 32px;
  left: 14px;
  position: absolute;
  top: 17px;
  width: 2px;
}

.vector-3 {
  height: 9px;
  left: 11px;
  position: absolute;
  top: 13px;
  width: 8px;
}

.vector-4 {
  height: 12px;
  left: 3px;
  position: absolute;
  top: 25px;
  width: 12px;
}

.vector-container-1 {
  height: 124px;
  margin-bottom: 0.62px;
  margin-left: 1px;
  position: relative;
  width: 58px;
}

.vector-5 {
  height: 35px;
  left: 27px;
  position: absolute;
  top: 0;
  width: 31px;
}

.vector-6 {
  height: 35px;
  left: 1px;
  position: absolute;
  top: 41px;
  width: 31px;
}

.vector-7 {
  height: 106px;
  left: 41px;
  position: absolute;
  top: 18px;
  width: 2px;
}

.vector-8 {
  height: 9px;
  left: 38px;
  position: absolute;
  top: 13px;
  width: 8px;
}

.vector-9 {
  height: 9px;
  left: 26px;
  position: absolute;
  top: 90px;
  width: 8px;
}

.vector-10 {
  height: 12px;
  left: 30px;
  position: absolute;
  top: 28px;
  width: 12px;
}

.vector-11 {
  height: 12px;
  left: 30px;
  position: absolute;
  top: 67px;
  width: 12px;
}

.vector-12 {
  height: 29px;
  left: 30px;
  position: absolute;
  top: 93px;
  width: 13px;
}

.vector-13 {
  height: 9px;
  left: 50px;
  position: absolute;
  top: 90px;
  width: 8px;
}

.vector-14 {
  height: 29px;
  left: 41px;
  position: absolute;
  top: 93px;
  width: 13px;
}

.vector-15 {
  height: 9px;
  left: 50px;
  position: absolute;
  top: 48px;
  width: 8px;
}

.vector-16 {
  height: 28px;
  left: 41px;
  position: absolute;
  top: 51px;
  width: 13px;
}

.vector-17 {
  height: 65px;
  left: 15px;
  position: absolute;
  top: 59px;
  width: 2px;
}

.vector-18 {
  height: 9px;
  left: 12px;
  position: absolute;
  top: 54px;
  width: 8px;
}

.vector-19 {
  height: 12px;
  left: 4px;
  position: absolute;
  top: 65px;
  width: 12px;
}

.vector-20 {
  height: 29px;
  left: 4px;
  position: absolute;
  top: 94px;
  width: 13px;
}

.vector-21 {
  height: 9px;
  left: 0;
  position: absolute;
  top: 90px;
  width: 8px;
}

.vector-container-2 {
  height: 78px;
  margin-left: 27px;
  position: relative;
  width: 77px;
}

.vector-22 {
  height: 55px;
  left: 61px;
  position: absolute;
  top: 8px;
  width: 2px;
}

.vector-23 {
  height: 16px;
  left: 55px;
  position: absolute;
  top: 0;
  width: 14px;
}

.vector-24 {
  height: 62px;
  left: 41px;
  position: absolute;
  top: 15px;
  width: 36px;
}

.vector-25 {
  height: 57px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 41px;
}

.vector-26 {
  height: 64px;
  left: 5px;
  position: absolute;
  top: 14px;
  width: 38px;
}

.vector-27 {
  height: 40px;
  left: 29px;
  position: absolute;
  top: 38px;
  width: 13px;
}

.vector-28 {
  height: 74px;
  left: 30px;
  position: absolute;
  top: 4px;
  width: 25px;
}

.vector-29 {
  height: 73px;
  left: 41px;
  position: absolute;
  top: 5px;
  width: 5px;
}

.text-2 {
  color: var(--white);
  direction: rtl;
  font-family: var(--font-family-cairo);
  font-size: var(--font-size-xs);
  font-weight: 400;
  left: 142px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 290px;
}

.text-3 {
  color: var(--black);
  direction: rtl;
  font-family: var(--font-family-noto_sans_arabic);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 172px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 168px;
  width: 323px;
}

.x {
  background-color: transparent;
  border: 0;
  color: var(--black);
  direction: rtl;
  font-family: var(--font-family-noto_sans_arabic);
  font-size: var(--font-size-s);
  font-weight: 300;
  height: 30px;
  left: 147px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 221px;
  width: 60px;
}

.x::placeholder {
  color: #00000099;
}

.vector-4-1 {
  height: 112px;
  margin-top: 63px;
  width: 390px;
}

